.navbar-dark-custom {
    background-color: #67071f;
    padding: 12px !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.nav-link-custom{
	color: white !important;
	text-transform: uppercase;
}

.nav-link-custom:hover{
	border: solid #fff 1px;

}

.sobre{
	background-color: purple;
}

.h1 {
	padding-left: 50px;
	padding-top: 50px;
}

.textodaprincipal{
	padding: 50px;
	text-align: justify;
}

.backdaprincipal{
	background-color: brown;
}

.anime {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .3s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.container-custom{
	margin-left: 0 !important;
	padding-left: 0 !important;
	padding-top: 20px;
}

.colunadadireita{
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
}

.servicos{
	margin-top: 0 !important;
}

.mapa{
}

.agenda{

}